<nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#containerNavbar" aria-controls="containerNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Movies2</a>

  <div class="collapse navbar-collapse" id="containerNavbar">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active" class="nav-item"><a class="nav-link" [routerLink]="['/vote']">Vote</a></li>
      <li routerLinkActive="active" class="nav-item"><a class="nav-link" [routerLink]="['/search']">Search</a></li>
      <li *ngIf="_user.admin" routerLinkActive="active" class="nav-item"><a class="nav-link" [routerLink]="['/admin']">admin</a></li>
    </ul>
  </div>

  <div class="user-block" *ngIf="_user.isLoggedIn()">
    {{_user.username}}
    <button class="btn" (click)="_user.logout()">Logout</button>
  </div>
  <div class="user-block" *ngIf="!_user.isLoggedIn()">
    <button class="btn" [routerLink]="['/login']">login</button>
  </div>
</nav>
