.user-block{
  white-space: nowrap;
}

.user-block .btn{
  margin-left: 10px;
}

.navbar{
  margin: 0 0 20px;
}

.navbar-nav{}
.navbar-nav li + li{
  margin-left: 5px;
}
.navbar-nav li a{
  padding: 10px;
  color: #000;
  line-height: 1;
  border-radius: 2px;
}
.navbar-nav li.active a{
  background: #ddd;
}
