<div class="movie-cards">
  <ng-template ngFor let-movie [ngForOf]="movies">
    <div class="card" [ngClass]="{'veto': movie.veto}" data-id="{{movie.id}}" *ngIf="!hideMy || (movie.username !== _user.username && !hidemy)" [@card]="state">
      <a [href]="'https://www.themoviedb.org/movie/' + movie.id" target="_blank">
        <img class="card-img-top" *ngIf="movie.poster_path" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="">
        <img class="card-img-top" *ngIf="!movie.poster_path && movie.backdrop_path" [src]="'https://image.tmdb.org/t/p/w500' + movie.backdrop_path" alt="">
      </a>
      <h4 class="card-title"><span [innerHTML]="movie.title"></span></h4>
      <div class="card-block">
        <div class="card-buttons" *ngIf="voting && _app.voting && movie.voters.indexOf(_user.username) < 0">
          <button class="btn btn-md btn-success"
          (click)="emitVote(movie, voteBtn);"
          #voteBtn
          *ngIf="_user.isLoggedIn() && !_user.voted && !movie.veto && movie.voters.indexOf(_user.username) < 0">Vote</button>
          <button class="btn btn-md btn-danger"
          (click)="emitVeto(movie, vetobtn);"
          #vetobtn
          *ngIf="!_user.vetoed && _user.isLoggedIn() && !movie.veto">Veto!</button>
        </div>
        <div class="card-buttons" *ngIf="searching && _app.voting && proposable(movie.id)">
          <button class="btn btn-md btn-success" #proposeBtn (click)="emitPropose(movie, proposeBtn);" *ngIf="_user.isLoggedIn() && proposable(movie.id)">Propose</button>
          <span class="movie-proposed" *ngIf="!proposable(movie.id)">Movie already proposed</span>
        </div>
      </div>
      <div class="card-options">
        <button class="btn btn-sm btn-success" (click)="open(description)">Details</button>
        <button class="btn btn-sm btn-success" (click)="openVideos(movie)">Videos</button>
        <button class="btn btn-sm btn-success" (click)="openReviews(movie)">Reviews</button>
        <button class="btn btn-sm btn-success" (click)="openRelated(movie)">Related movies</button>
        <mv-modal #description [title]="movie.title"><p>{{movie.overview}}</p></mv-modal>
      </div>
    </div>
  </ng-template>
</div>

<mv-modal #videos [title]="modalMovie.title" [windowClass]="'videos-modal'">
  <div class="embed-responsive embed-responsive-16by9" *ngFor="let video of modalMovie.videos">
    <iframe class="embed-responsive-item" [src]="'https://www.youtube.com/embed/' + video.key | safeUrl" frameborder="0" allowfullscreen></iframe>
  </div>
</mv-modal>
<mv-modal #reviews [title]="modalMovie.title">
  <ul class="movie-reviews" *ngIf="modalMovie.reviews?.length">
    <li *ngFor="let review of modalMovie.reviews">
      <span class="review-author">{{review.author}}</span>
      {{review.content}}
    </li>
  </ul>
  <span *ngIf="!modalMovie.reviews?.length">No reviews yet  :(</span>
</mv-modal>
<mv-modal #related [title]="modalMovie.title" [windowClass]="'related-window'">
  <div class="movie-cards">
    <ng-template ngFor let-movie [ngForOf]="relatedMovies">
      <div class="card" [ngClass]="{'veto': movie.veto}" data-id="{{movie.id}}" *ngIf="!hideMy || (movie.username !== _user.username && !hidemy)" [@card]="state">
        <a [href]="'https://www.themoviedb.org/movie/' + movie.id" target="_blank">
          <img class="card-img-top" *ngIf="movie.poster_path" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="">
          <img class="card-img-top" *ngIf="!movie.poster_path && movie.backdrop_path" [src]="'https://image.tmdb.org/t/p/w500' + movie.backdrop_path" alt="">
        </a>
        <h4 class="card-title"><span [innerHTML]="movie.title"></span></h4>
        <div class="card-block">
          <div class="card-buttons" *ngIf="_app.voting && proposable(movie.id)">
            <button class="btn btn-md btn-success" #proposeBtn (click)="emitPropose(movie, proposeBtn);" *ngIf="_user.isLoggedIn() && proposable(movie.id)">Propose</button>
            <span class="movie-proposed" *ngIf="!proposable(movie.id)">Movie already proposed</span>
          </div>
        </div>
        <div class="card-options">
          <button class="btn btn-sm btn-success" (click)="openVideos(movie)">Videos</button>
          <button class="btn btn-sm btn-success" (click)="openReviews(movie)">Reviews</button>
        </div>
      </div>
    </ng-template>
  </div>
</mv-modal>
