<div class="discover-form">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="">Year</label>
        <nouislider [config]="rangeConfig" [(ngModel)]="years"></nouislider>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="">Genres</label>
        <ng-select
            [options]="genres"
            [multiple]="true"
            [(ngModel)]="genre"
            [allowClear]="true"
            placeholder="Choose genre">
        </ng-select>
      </div>
    </div>
    <div class="col-md-4">
      <label for="">Sort</label>
      <select placeholder="Sorting" [(ngModel)]="sortBy" class="form-control">
        <option *ngFor="let option of sortOptions" [value]="option.value">{{option.label}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label for="">Keywords</label>
      <input type="text" class="form-control" #input (selectItem)="addKeyword($event, input)" [ngbTypeahead]="searchKeywords">

      <div class="selected-keywords">
        <div class="keyword" *ngFor="let keyword of keywords">{{keyword.name}}<span class="remove" (click)="removeKeyword(keyword)">✖</span></div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary btn-lg" (click)="discoverMovies(page)">Search</button>
</div>

<mv-spinner *ngIf="loading"></mv-spinner>
<h2 *ngIf="moviesList.length">Suggestions</h2>
<div class="movie-results" *ngIf="!loading">
  <ngb-pagination *ngIf="moviesList.length" [maxSize]="10" [collectionSize]="maxPages" [(page)]="page" (pageChange)="pageChange()"></ngb-pagination>
  <mv-movies-list [searching]="true" [movies]="moviesList" (propose)="propose($event)"></mv-movies-list>
  <ngb-pagination *ngIf="moviesList.length" [maxSize]="10" [collectionSize]="maxPages" [(page)]="page" (pageChange)="pageChange()"></ngb-pagination>
</div>
