<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users" [ngClass]="{'admin': user.admin}">
      <td>{{user.title}}</td>
      <th>
        <button class="btn btn-primary" (click)="promote(user);">Promote to admin</button>
        <button class="btn btn-danger" (click)="remove(user);">Remove</button>
      </th>
    </tr>
    <tr *ngFor="let user of newUsers">
      <td><input type="text" class="form-control" [(ngModel)]="user.username"></td>
      <th>
        <button class="btn btn-danger" (click)="save(user);">Save</button>
      </th>
    </tr>

  </tbody>
</table>
