<div class="container">
  <mv-nav></mv-nav>
  <ngb-tabset>
    <ngb-tab title="Discover">
      <template ngbTabContent>
        <mv-search-discover></mv-search-discover>
      </template>
    </ngb-tab>
    <ngb-tab title="Search">
      <template ngbTabContent>
        <mv-search-name></mv-search-name>
      </template>
    </ngb-tab>
    <ngb-tab title="Recent">
      <template ngbTabContent>
        <mv-search-recent></mv-search-recent>
      </template>
    </ngb-tab>
    <ngb-tab title="Top rated">
      <template ngbTabContent>
        <mv-search-top></mv-search-top>
      </template>
    </ngb-tab>
  </ngb-tabset>
</div>
